doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  div.header-container
    block header
       ul.sidebar-nav
        li
          a(href='/') Home
        if user
          li
            a(href='/message') Message
          li
            a(href='/users/member') Member 
          li
            a(href='/users/admin') Admin
          li
            a(href='/users/logout') Log Out Here 
        else 
          li
            a(href='/users/create') Sign up
          li
            a(href='/users/login') Sign in
  block content
