extend layout 

block content 
  h1= title

  form(action='' method='POST' class='form')
    label(for='title' class='lbl') Title: 
    input(type='text' name='title' id='title' placeholder='Title' autocomplete='off' required class='inp' value=(head===undefined ? '' : head))
    if errors && errors.title 
      p.err!= errors.title.msg
    label(for='content' class='lbl') Content: 
    textarea(name='content' id='content' rows=5 cols=30 required class='inp')  #{descrip===undefined ? '' : descrip}
    if error && errors.content
      p.err!= errors.content.msg
    button(type='submit' class='submitBtn') Submit

