extend layout 

block content 
  h1= title

  form(action='' method='POST' class='form')
    label(for='title' class='lbl') Title: 
    input(type='text' name='title' id='title' placeholder='Title' autocomplete='off' required class='inp')
    label(for='content' class='lbl') Content: 
    textarea(name='content' id='content' rows=5 cols=30 required class='inp') 
    button(type='submit' class='submitBtn') Submit

  br
  if error
    ul.errors
      each err in error
        p!= err.msg
